@using static eAgenda.WebApp.Models.FormularioCategoriaViewModel
@model ExcluirCategoriaViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Exclusão de Categoria";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <h3>Formulário de Exclusão</h3>

                <p class="mt-4">Você deseja realmente excluir a Categoria "@Model.Titulo"?</p>
                @Html.ValidationMessage("ExclusaoProibida", new { @class = "text-danger" })
                <form action="/categorias/excluir/@Model.Id" method="post">
                    <input asp-for="Titulo" type="hidden" />
                    <input asp-for="Id" type="hidden" />
                    <input asp-for="despesas" type="hidden" />
                    <div class="form-group d-flex align-items-center justify-content-end gap-3">
                        <a href="/categorias">Voltar para a listagem</a>
                        <button type="submit" class="btn btn-danger px-5">Confirmar</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}