﻿﻿@{
Layout = "_Layout";
ViewBag.Titulo = "Erro inesperado";
}

<hr />

<p class="fs-5 mt-4">Ocorreu um erro inesperado durante a execução da ação... tente novamente.</p>
<a asp-action="Index" class="fs-5 mt-4">Voltar para a página inicial</a>