@using static eAgenda.WebApp.Models.FormularioContatoViewModel
@model ExcluirContatoViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Exclusão de Contato";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <h3>Formulário de Exclusão</h3>

                <p class="mt-4">Você deseja realmente excluir o Contato "@Model.Nome"?</p>

                <form action="/contatos/excluir/@Model.Id" method="post">
                    <div class="form-group d-flex align-items-center justify-content-end gap-3">
                        <a href="/contatos">Voltar para a listagem</a>
                        <button type="submit" class="btn btn-danger px-5">Confirmar</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
