﻿﻿@{
Layout = "_Layout";
ViewBag.Titulo = "Página Inicial";
}

<hr />
<div class="d-flex gap-lg-5 flex-wrap gap-2">
	<div class="col order-lg-0 py-lg-5 order-1">
		<h2 class="text-primary fs-1 fw-bold">E-Agenda!</h2>

		<p class="fs-4 text-secondary-emphasis mt-4">Clique em uma das opções abaixo para prosseguir:</p>

		<div class="d-grid d-lg-flex flex-wrap gap-2">
			<a href="/mesas" class="btn btn-outline-primary fw-semibold rounded-3 px-5">Contatos</a>
			<a href="/garcons" class="btn btn-outline-primary fw-semibold rounded-3 px-5">Compromissos</a>
			<a href="/produtos" class="btn btn-outline-primary fw-semibold rounded-3 px-5">Categorias</a>
			<a href="/contas" class="btn btn-outline-primary fw-semibold rounded-3 px-5">Despesas</a>
			<a href="/contas" class="btn btn-outline-primary fw-semibold rounded-3 px-5">Tarefas</a>
		</div>
	</div>
	<div class="col-lg-4 order-0 order-lg-1">
		<img src="" alt="" class="img-fluid" />
	</div>
</div>